---
BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
PointerAlignment: Right
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
...
